@font-face {
  font-family: 'Unbounded-Black';
  src: url('../fonts/Unbounded-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Unbounded-ExtraBold';
  src: url('../fonts/Unbounded-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Unbounded-Bold';
  src: url('../fonts/Unbounded-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Unbounded-SemiBold';
  src: url('../fonts/Unbounded-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Unbounded-Medium';
  src: url('../fonts/Unbounded-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Unbounded-Regular';
  src: url('../fonts/Unbounded-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Unbounded-Light';
  src: url('../fonts/Unbounded-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Unbounded-ExtraLight';
  src: url('../fonts/Unbounded-ExtraLight.ttf') format('truetype');
}
